.car-detail-container {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 90px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.car-detail-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-detail-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-right: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-detail-info {
  flex: 2;
  text-align: left;
  margin-right: 100px;
}

.car-detail-info h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #333;
}

.car-detail-info p {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #666;
}

.toggle-description-btn {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #fa9511;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-description-btn:hover {
  background-color: #f88400;
}

.car-description {
  margin-top: 1rem;
  font-size: 16px;
  color: #666;
}

.reservationForm {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservationForm h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #333;
}

.reservationForm .flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.reservationForm label {
  display: block;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #666;
}

.reservationForm input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

#costId {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.total-cost-container {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #333;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f4f4f9;
}

.align-center {
  align-items: center;
}
