.car-detail-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-bottom: 1px solid rgb(198, 197, 197);
    padding: 90px 0px;
  }
  
  .car-detail-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-right: 50px;
  }
  
  .car-detail-info {
    text-align: left;
  }
  
  .car-detail-info h2 {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .car-detail-info p {
    margin-bottom: 0.5rem;
  }

.reservationForm{
    height: 250px;
}

.reservationForm {
    height: 350px;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .reservationForm {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .reservationForm label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .reservationForm input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reservationForm button {
    display: block;
    margin: auto;
    width: 50%;
    padding: 0.75rem;
    background-color: #fa9511;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reservationForm button:hover {
    background-color: #f88400;
  }
  
  .text-center {
    text-align: center;
  }

  #costId {
    margin-top: 10px;
    text-align: center;
  }