.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}


.login-button {
  color: white;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  display: none; 
  opacity: 0;
}

.menu-wrapper.open {
  transform: translateY(0);
  display: block;
  opacity: 1;
  animation: slideDown 0.3s forwards;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#mobile-menu-btn[aria-expanded="true"] .line1 {
  transform: rotate(45deg) translatey(5px);
}

#mobile-menu-btn[aria-expanded="true"] .line2 {
  scale: 0 1;
}

#mobile-menu-btn[aria-expanded="true"] .line3 {
  transform: rotate(-45deg) translatey(-5px);
}

.line1,
.line2,
.line3 {
  transform-origin: center;
  transition: 300ms;
}



.text-ecstasy-400 {
  color: #f97316; /* Pakeiskite spalvą pagal savo poreikius */
}





@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



@media (min-width: 768px) {
  .menu-wrapper {
    position: static;
    transform: none;
    box-shadow: none;
    background-color: transparent;
    display: block;
    opacity: 1;
    animation: none;
  }

  .menu {
    flex-direction: row;
    padding: 0;
  }
}
