/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Individual car card */
.car-card {
  perspective: 1000px;
  margin: 10px;
  width: 260px !important; /* Force width */
  max-width: 260px; /* Ensure max width */
  box-sizing: border-box; /* Include padding and border in width */
}

.car-card-inner {
  position: relative;
  width: 100%; /* Use 100% of the parent width */
  height: 260px; /* Adjust height if needed */
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.car-card.flipped .car-card-inner {
  transform: rotateY(180deg);
}

.car-card-front,
.car-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.car-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-card-front img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.car-card-front h2 {
  color: #333;
  font-size: 1.3em;
  font-weight: 500;
  margin: 10px 0;
  margin-top: 30px;
}

.car-card-back {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  padding: 10px;
  gap: 5px;
}

.car-card-back h2 {
  color: Black;
  font-size: 1.3em;
  font-weight: 500;
  margin: 10px 0;
}

.car-card-back p {
  color: #666;
  font-size: 0.9em;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 2px;
}

/* Carousel Styles */
.slick-slide img {
  display: block;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  max-width: 100%;
  height: auto;
}

.slick-slide {
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  width: 260px !important; /* Ensure slides have the same width as the car cards */
}

.slick-list {
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
}

.slick-track {
  display: flex;
  align-items: center;
}
