.search-main {
    background-image: url(../../public/banner.webp);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-form {
    width: 1500px;
    height: 130px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start; 
    padding-left: 20px; 
}

.search-main h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: left;
}
