@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f48313;
  --primary-hover: #f19437;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 150ms ease-in;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}

.terms h1,
.terms h2 {
  @apply text-river-bed-950;
}

.terms h3 {
  @apply text-river-bed-900;
}

.terms p {
  @apply text-river-bed-800;
}
